{% extends '@App/Admin/base.html.twig' %}

{% block body %}
    <h1>Report #{{ report.id }}</h1>

    <div class="row">

        <div class="col-sm-9">
            <iframe class="embed-responsive-item" src="{{ report.video.url }}" allowfullscreen></iframe>
        </div>
        <div class="col-sm-3">
            <h2>Actions</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="{{ path('admin.report.confirm', {report: report.id}) }}" class="btn btn-block btn-danger">Confirm report</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="{{ path('admin.report.dismiss', {report: report.id}) }}" class="btn btn-block btn-success">Dismiss report</a>
                </div>
            </div>

            <br><br>

            <h2>Info</h2>
            <ul>
                <li>Category: {{ report.video.category.name }}</li>
                <li>Author: {{ report.video.author }}</li>
                <li>Created at: {{ report.video.createdAt | date('d/m/Y') }}</li>
            </ul>

        </div>

    </div>
{% endblock %}
